/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: #595959;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
h2,
h3 {
  display: inline-block;
  color: #474747;
  font-size: 32px;
  font-weight: 600;
  border-bottom: 1px solid #595959;
  text-transform: uppercase;
}
h3 {
  font-size: 24px;
}
.margin-bottom {
  margin-bottom: 32px;
}
.margin-bottom p {
  padding: 16px 0;
  text-transform: uppercase;
}
.section-margin {
  margin: 200px 0;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

/* Flex */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Header */
.header {
  background-image: url("../media/banner.jpg");
  background-color: #595959;
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: multiply;
  height: 750px;
  text-align: center;
}
/* header nav */
.logo img {
  width: 120px;
  vertical-align: middle;
}
.logo span {
  vertical-align: middle;
  font-size: 28px;
  color: #ea523e;
  margin-left: 16px;
  font-weight: 900;
}
.nav-container {
  background: #fff;
  position: fixed;
  width: 1200px;
  left: 50%;
  top: 10%;
  margin-left: -600px; /*half the width*/
}
.nav-container a {
  display: inline-block;
  color: #595959;
}
.nav a {
  margin: 0 28px;
  display: inline-block;
}
.nav a:active,
.nav a:focus {
  color: #ea523e;
}
/* Social Links */
.social-links {
  padding: 32px;
}
.social-links a {
  display: inline-block;
  padding: 8px 14px;
  font-size: 14px;
  color: #595959;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 10px;
  background: #fff;
}
.social-links a:hover {
  background: #ea523e;
  color: #fff;
}
/* Header Hero */
.header-hero {
  padding-top: 300px;
}
.header-hero-heading {
  display: inline-block;
  font-size: 44px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}
.header-hero p {
  padding: 32px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}
.btn {
  display: inline-block;
  color: #fff;
  background: #ea523e;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  /* box-shadow: 0 4px 12px rgba(234, 82, 62, 0.3); */
}
.btn:hover {
  background: #fff;
  color: #ea523e;
}

/* Slider */
.slider {
  text-align: center;
  margin-bottom: 50px;
}
.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #7f7f7f;
  border-radius: 50%;
  margin-left: 5px;
}
.circle-active {
  background: #333;
}

/* Services Section */
.services-section,
.portfolio-section {
  text-align: center;
}

.service {
  width: 23%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 12px #595959;
}
.code {
  background: #5cbd9d;
}
.paper-plane {
  background: #e67f31;
}
.landmark {
  background: #3998db;
}
.flask {
  background: #68cd73;
}
.service a {
  color: #fff;
  font-size: 50px;
}

/* Portfolio-section */
.portfolio-section .flex {
  flex-wrap: wrap;
}
.portfolio-img {
  width: 22%;
  margin-bottom: 16px;
}

/* Team-section */
.team-section header {
  text-align: center;
}
.team-member {
  width: 22%;
}
.team-member img {
  border-radius: 50%;
}
.about-team {
  margin-top: 64px;
}
.about-team header p {
  padding: 16px 0 64px 0;
}
.team-skills-desc {
  width: 60%;
}
.team-skills-desc p {
  margin-bottom: 28px;
}
.team-tools {
  width: 30%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.grey {
  width: 100%;
  height: 35px;
  background: #e7e7e7;
  margin-bottom: 16px;
}
.photoshop,
.html-css,
.development,
.marketing {
  width: 90%;
  height: 35px;
  background: #ea523e;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 6px 6px 20px;
}

.html-css,
.marketing {
  width: 80%;
}
.development {
  width: 70%;
}
.too-css {
  color: #ea523e;
}

/* Contact section */
.contact-section header {
  text-align: center;
}
.contact-details-container {
  margin-top: 32px;
}
.contact-details {
  width: 65%;
}
.contact-details p {
  margin-bottom: 28px;
}
.address-container p {
  margin-bottom: 8px;
}
.email {
  color: #ea523e;
}
.contact-form {
  width: 30%;
  align-self: stretch;
}
.contact-form form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-form input,
.contact-form textarea {
  padding: 12px 24px;
  border: 1px solid #e2e2e2;
  color: #8d8d8d;
}
.btn-submit {
  border-radius: 0;
  padding: 12px 24px;
  font-weight: 400;
  font-size: 14px;
}
.btn-submit:hover {
  color: #fff;
  background: #ea523e;
}
